<!DOCTYPE html>
<html>
<head>
	<title>{{ blog.blog_title }}</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/icon?family=Product+Sans:300">

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div class="container">
		<br><br><br>
		<h1 align="center" class = "title">{{ blog.blog_title }}</h1>
		<br><br>

		<p class="description">{{ blog.blog_content }}</p>

		<p class="text-secondary">{{ blog.blog_author }}</p>
	</div>
</body>
</html>
