{% extends 'blog/master.html' %}
{% load static %}

{% block content %}
	<div>
		<br>
		<h1>All Blogs</h1>
		<br>
		{% if latest_blogs %}
		    <ul class="list-group list-group-flush">
		    {% for blog in latest_blogs %}
		    	<div>
			        <li class="list-group-item"><a href="{% url 'blog:detail' blog.id %}">{{ blog.blog_title }}</a></li>
			        <!-- <li class="list-group-item">{{ blog.blog_author }}</li> -->
			    </div>
		    {% endfor %}
		    </ul>
		{% else %}
		    <p>No blogs are available.</p>
		{% endif %}
	</div>
{% endblock content %}
